---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
$terminal-color: rgb(19, 19, 19);

body {
    background-color: $background-color;
    background-image: none;
}

pre,
code {
  @include relative-font-size(0.9375);
  border-radius: 0px;
  background-color: $terminal-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
    background: $terminal-color;
    @extend %vertical-rhythm;
  
    .highlighter-rouge & {
      background: $terminal-color;
    }
}