---
layout: default
---

<div class="home">
    <h1 class="page-heading">Projects</h1>
    <ul class="post-list">
      <li>
        <div class="post-container">
          <h3>
            <a class="post-link" href="https://codeberg.org/notsludgebomb/yaali">
                yaali
            </a>
            <p>yet another Arch Linux installer</p>
          </h3>
        </div>
      </li>
      <li>
        <div class="post-container">
          <h3>
            <a class="post-link" href="https://codeberg.org/notsludgebomb/bap2">
                bap
            </a>
            <p>bash argument parser</p>
          </h3>
        </div>
      </li>
    </ul>
</div>
